


.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}


.reveal {
  font-family: "Raleway";
  font-size: 1.5em;
  font-weight: normal;
  color: #46ACC8; }
